@import "~/assets/variables.scss";

.card {
  margin-top: 2rem;
  text-align: center;
}

.align-text-left {
  text-align: left;
}

.link {
  max-width: 150px;
  text-overflow: ellipsis;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}

.profileIcon {
  width: 26px;
  height: 26px;
}
