// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$pink: #e91e63;
$pink-lighten-5: #fce4ec;
$pink-lighten-4: #f8bbd0;
$pink-lighten-3: #f48fb1;
$pink-lighten-2: #f06292;
$pink-lighten-1: #ec407a;
$pink-darken-1: #d81b60;
$pink-darken-2: #c2185b;
$pink-darken-3: #ad1457;
$pink-darken-4: #880e4f;
$pink-accent-1: #ff80ab;
$pink-accent-2: #ff4081;
$pink-accent-3: #f50057;
$pink-accent-4: #c51162;

$grey: #9e9e9e;
$grey-lighten-5: #fafafa;
$grey-lighten-4: #f5f5f5;
$grey-lighten-3: #eeeeee;
$grey-lighten-2: #e0e0e0;
$grey-lighten-1: #bdbdbd;
$grey-darken-1: #757575;
$grey-darken-2: #616161;
$grey-darken-3: #424242;
$grey-darken-4: #212121;
