// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$pink: #e91e63;
$pink-lighten-5: #fce4ec;
$pink-lighten-4: #f8bbd0;
$pink-lighten-3: #f48fb1;
$pink-lighten-2: #f06292;
$pink-lighten-1: #ec407a;
$pink-darken-1: #d81b60;
$pink-darken-2: #c2185b;
$pink-darken-3: #ad1457;
$pink-darken-4: #880e4f;
$pink-accent-1: #ff80ab;
$pink-accent-2: #ff4081;
$pink-accent-3: #f50057;
$pink-accent-4: #c51162;
